:root {
    --bg1: rgb(239, 237, 237);
    --bg2: white;
    --color1: black;
    --color2: rgb(44, 44, 44);
    --color3: rgb(70, 84, 255);
    --color4: rgb(221, 219, 219);
}

[theme="dark"] {
    --bg1: rgb(24, 25, 26);
    --bg2: black;
    --color1: white;
    --color2: rgb(239, 237, 237);
    --color3: rgb(200, 190, 237);
    --color4: black;
}

body {
    margin: 0;
    background-color: var(--bg1);
    transition: 0.5s;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.main-content div {
    height: auto;
    transition: 0.5s;
}
.top {
    all: unset;
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
    background-color: var(--bg2);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: none;
    border: 2px solid var(--color1);
}

.top svg {
    text-align: center;
    height: 32px;
    width: 32px;
    padding: 8px;
    color: var(--color1);
}
.part1 {
    margin-top: 50px;
    margin-left: 8%;
    width: 24%;
    background-color: var(--bg1);
    transition: 0.5s;
}

.part2 {
    margin-top: 50px;
    width: 59.5%;
    background-color: var(--bg2);
    transition: 0.5s;
}

.part2 .text {
    margin-top: 20px;
    position: absolute;
    margin-left: 6%;
    height: 10%;
}

.part2 .text h1,
span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: var(--color1);
    font-size: 23px;
}

.items {
    width: 80%;
    margin: 80px 4% 20px 3%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.items .item-box {
    width: 31%;
    margin-right: 1%;
    padding-bottom: 30px;
    display: inline-block;
    height: 45vh;
}

.items .item-box .image {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.items .item-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items .item-box .name,
.items .item-box .price,
.items .item-box .category {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.items .item-box .details {
    margin-top: 8px;
}

.items .item-box .details .name {
    font-size: 18px;
}

.items .item-box .name,
.items .item-box .price,
.items .item-box .category {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: var(--color1);
}

.items .item-box .details .price {
    font-size: 16px;
    font-weight: bold;
}

.items .item-box .details .category {
    font-size: 12px;
    color: var(--color2);
}

.part1 .page_filter {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    padding-top: 10%;
    width: 80%;
    margin-right: auto;
}

.page_filter .search-form {
    background-color: var(--bg2);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.page_filter .search-form input {
    all: unset;
    font-family: system-ui;
    color: var(--color1);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.page_filter .search-form input::placeholder {
    color: var(--color1);
    opacity: 0.7;
}

.page_filter .search-form button {
    all: unset;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.page_filter svg {
    color: var(--color1);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 6px;
}

.part1 .page_filter .filter-text {
    display: inline-block;
    margin-top: 10%;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
    color: var(--color1);
}

.part1 .page_filter .form #min,
.part1 .page_filter .form #max {
    width: 80px;
    height: 25px;
}

.part1 .page_filter .form .filter_price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 18px;
    display: inline-block;
    padding-bottom: 5px;
}

.filter-btn {
    all: unset;
    margin-right: 5px;
    background-color: var(--color1);
    color: var(--bg2);
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 17px;
    padding: 5px 10px;
    border: 1px solid var(--color1);
    border-radius: 10%;
}

.filter-btn:hover {
    color: var(--color1);
    background-color: var(--bg2);
}

.item-box a,
.item-box .details a {
    text-decoration: none;
}

.filter_price {
    color: var(--color1);
}
