body {
    margin: 0;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-content div {
    height: 300vh;
}

.part1 {
    margin-left: 8%;
    width: 24%;
    background-color: red;
}

.part2 {
    margin-right: 8%;
    width: 59.5%;
    background-color: yellow;
}

.part2 .text {
    position: absolute;
    padding-left: 2%;
}

.part2 .text h1,
span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: black;
}

.items {
    position: inherit;
    top: 30%;
    width: 100%;
    margin: 120px 4% 0 3%;
}

.items .item-box {
    width: 30%;
    margin: 1% 0.5% 0 0.5%;
    background-color: green;
    display: inline-block;
    height: 50vh;
}

.items .item-box .image{
    width: 100%;
    height: 70%;
    background-image: url("../images/cards/card-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.items .item-box .name, .items .item-box .price, .items .item-box .category{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.items .item-box .details .name{
    font-size: 25px;
    font-weight: bold;
}

.items .item-box .details .price{
    font-size: 18px;
    font-weight: bold;
}

.items .item-box .details .category{
    font-size: 12px;
    color: rgb(44, 44, 44);
}
