body {
    margin: 0;
}

.header {
    background-image: url("images/background/home-bg1.jpg");
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
}

.nav-bar {
    background: rgba(21, 99, 146, 0.6);
}

.nav-bar-logo img {
    width: 90px;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}

.nav-bar a:not(.nav-bar-icons a, .nav-bar-links-everything),
.nav-bar-cart {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    display: inline-block;
    text-align: center;
    padding: 37px 20px 37px 20px;
    font-size: 15.3px;
    font-weight: bold;
}

.nav-bar-cart,
.nav-bar-wishlist {
    all: unset;
    cursor: pointer;
}

.nav-bar-icons a,
.nav-bar-cart,
.nav-bar-wishlist {
    padding-top: 37px;
    padding-left: 10px;
    display: inline-block;
}

.nav-bar-icons button:not(.nav-bar-cart, .nav-bar-wishlist) {
    padding-top: 37px;
    padding-left: 10px;
}

.nav-bar .nav-bar-logo {
    height: 30px;
    width: 30px;
}

.nav-bar-logo {
    all: unset;
}

.nav-bar-links-everything {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    display: inline-block;
    text-align: center;
    padding: 37px 20px 37px 20px;
    font-size: 15.3px;
    font-weight: bold;
    margin-left: 100px;
}

.nav-bar-icons {
    float: right;
    margin-right: 50px;
}

.nav-bar .nav-bar-icons {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    display: inline-block;
}

.nav-bar .nav-bar-icons a,
.nav-bar .nav-bar-icons button {
    text-decoration: none;
    margin-left: 20px;
}

.nav-bar .nav-bar-icons svg {
    color: white;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.nav-bar-night,
.nav-bar-day {
    all: unset;
    cursor: pointer;
}

.nav-bar-day {
    display: none;
}

.nav-bar-night {
    display: inline-block;
}

.nav-bar a:hover,
.nav-bar-icons button svg:hover,
.nav-bar-icons a svg:hover {
    animation: opa 0.3s ease forwards;
}

.nav-bar .nav-search {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    display: inline-block;
    padding: 37px 0 37px 20px;
}

.nav-search form {
    background-color: rgba(70, 84, 255, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    height: 30px;
}

.nav-search input {
    all: unset;
    font-family: system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 0 6px 10px;
}

.nav-search input::placeholder {
    color: #fff;
    opacity: 0.7;
}

.nav-search button {
    all: unset;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.nav-search svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 6px;
}

.head-content {
    padding-left: 52%;
    padding-top: 10%;
}

.head-content .head-main-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.head-content .head-second-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.head-content .head-shop,
.b {
    all: unset;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    border: 1px solid white;
}

.head-content .head-find {
    all: unset;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    margin-left: 15px;
}

.head-content a {
    text-decoration: none;
}

.main-content {
    width: 100%;
}

.main-content-4 {
    width: 100%;
}

.main-content-4 .new-user-offer {
    width: 79.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    height: 50vh;
    background-image: url("images/background/home-bg2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 7%;
}

.main-content-4 .new-user-offer .text1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.main-content-4 .new-user-offer .text2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 2%;
}

.main-content-4 .new-user-offer .text3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: white;
}

.main-content-4 .new-user-offer .text4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 10px;
    color: white;
}

.main-content-4 .new-user-offer div {
    padding-left: 7%;
}
.main-content-4 .new-user-offer .shop-offer {
    all: unset;
    margin-left: 7%;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    border: 1px solid white;
}

.main-content .main-content-2 {
    margin-top: 60px;
    width: 100%;
}

.main-content .main-content-2 div:not(.box-text) {
    width: 25%;
    display: inline-block;
    height: 65vh;
}

.main-content-2-box1 {
    position: relative;
    background-image: url("images/background/cards/box-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-right: 2%;
}

.main-content-2-box2 {
    position: relative;
    background-image: url("images/background/cards/box-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content-2-box3 {
    position: relative;
    background-image: url("images/background/cards/box-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2%;
    margin-right: 10%;
}

.box-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
    width: 100%;
    position: absolute;
    padding: 70% 12% 0 5%;
}

.box-text a {
    text-decoration: none;
}

.box-text span {
    font-size: 26px;
    color: white;
}

.head-find:hover {
    animation: colorH2 ease forwards 0.3s;
}

.head-shop:hover,
.b:hover {
    animation: colorH ease forwards 0.3s;
}

.main-content-4 .new-user-offer .shop-offer:hover {
    animation: colorH ease forwards 0.3s;
}

.box {
    padding: 85px 0;
    width: 79.5%;
    margin-left: auto;
    margin-right: auto;
}

.box1,
.box2,
.box3,
.box4 {
    display: inline-block;
    width: 24.5%;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 18px;
}

.box svg {
    height: 55px;
    width: 55px;
}

.cart {
    background-color: rgb(239, 237, 237);
    position: fixed;
    height: 100vh;
    width: 38%;
    right: 0;
    inset: 0 -38% 0 auto;
    transition: 0.5s;
}

.cart .close-btn {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 10px;
    padding: 10px;
}

.close-btn svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cart div {
    width: 80%;
    margin: 0 auto 0 auto;
}

.cart .cart-items {
    height: 70%;
    overflow-y: auto;
    margin-top: 10px;
}

.cart-text {
    margin-top: 5px;
}

.cart-text {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.cart .cart-info {
    margin-top: 25px;
    background-color: white;
    height: 40%;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.cart .cart-items .cart-item-card .cart-img {
    overflow: hidden;
}
.cart .cart-info button {
    all: unset;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    border: 1px solid white;
}
.cart .cart-items .cart-item-card .cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart .cart-items .cart-item-card {
    width: 95%;
    height: 26%;
    position: relative;
    padding: 4px;
    border: 0.5px solid black;
}

.cart .cart-info button:hover {
    animation: colorH2 0.3s ease forwards;
}

.cart .cart-items .cart-item-card .cart-img {
    float: left;
    width: 30%;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}

.cart .cart-items .cart-item-card div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.cart .cart-items .cart-item-card .item-name {
    font-size: 20px;
    font-weight: bold;
}

.cart .cart-items .cart-item-card .item-price {
    font-size: 15px;
}

.cart .cart-items .cart-item-card .item-count {
    font-size: 15px;
}

.cart .cart-items .cart-item-card .item-total {
    font-size: 18px;
}

.item-tot-info {
    background-color: blueviolet;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 40%;
}

.cart .cart-items .cart-item-card .cart-img .item-tot-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body.cartShow .cart {
    inset: 0 0 0 auto;
}

span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: black;
    font-size: 23px;
}

.featured-items {
    background-color: rgb(239, 237, 237);
    margin: 100px 0;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
}

.featured-items .f-info {
    width: 50%;
    margin: 30px auto 30px auto;
    padding-top: 60px;
}

.featured-items .f-info span {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.hr {
    background-color: navy;
    height: 2.5px;
}

.items {
    width: 90%;
    margin: 80px auto 20px auto;
    height: auto;
}

.items .item-box {
    width: 15.2%;
    margin-right: 1%;
    padding-bottom: 30px;
    display: inline-block;
    height: 45vh;
}

.items .item-box .image {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.items .item-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items .item-box .name,
.items .item-box .price,
.items .item-box .category {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.items .item-box .details {
    margin-top: 8px;
}

.items .item-box .details .name {
    font-size: 18px;
}

.items .item-box .details .price {
    font-size: 16px;
    font-weight: bold;
}

.items .item-box .details .category {
    font-size: 12px;
    color: rgb(44, 44, 44);
}
.item-box a,
.item-box .details a {
    text-decoration: none;
}

.top {
    all: unset;
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: none;
    border: 2px solid black;
}

.top svg {
    text-align: center;
    height: 32px;
    width: 32px;
    padding: 8px;
}

.nav-bar-user {
    text-decoration: none;
    color: white;
}

.delete {
    position: absolute;
    right: 30px;
    bottom: 50px;
}

.delete svg {
    color: black;
    height: 22px;
    width: 22px;
}

.delete svg:hover {
    animation: colorH4 0.3s ease forwards;
}

@keyframes colorH4 {
    to {
        color: red;
    }
}

@keyframes opa {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

@keyframes opa2 {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

@keyframes colorH {
    to {
        color: white;
        background-color: black;
        border: 1px solid black;
    }
}

@keyframes colorH2 {
    to {
        color: black;
        background-color: white;
    }
}

@keyframes colorH3 {
    to {
        color: black;
        background-color: lightgray;
    }
}
